GMAIL_ADDRESS=you@gmail.com
GMAIL_APP_PASS=xxxx xxxx xxxx xxxx

SERVICE_ACCOUNT_FILE=service_account.json

INPUT_SPREADSHEET_NAME=YOUR_GOOGLE_FORM_SPREADSHEET_NAME
INPUT_WORKSHEET_NAME=Form Responses 1

OUTPUT_SPREADSHEET_ID=your_output_sheet_id_here
OUTPUT_WORKSHEET_NAME=Sheet1

EVENT_NAME=Event420

QR_LOGO_PATH=qr_logo.png

SCANNER_EMAILS=admin1@gmail.com,admin2@gmail.com
